/* Add CSS Styling */

.odd {
    background-color: red;
    font-family: Verdana, 'DejaVu Snas', sans-serif;
}

#secondElement {
    color: blue;
    font-size: 36px;
}

#thirdElement {
    font-size: 24px;
}

#forthElement {
    background-color: green;
    font-size: 24px;
    font-style: bold;
}